<tr>
  <td><%= link_to "#{fund.name}", fund %></td>
  <td><%= fund.institution %></td>
  <td><%= fund.description %></td>
  <td><%= fund.amount %></td>
  <td><%= l fund.start, format: :custom %></td>
  <td><%= l fund.end, format: :custom %></td>
</tr>
